body{
    background: rgb(83, 58, 58);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: fantasy;
}
div {
    background-color: rgb(136, 136, 87);
    border: 1px solid black;
    padding: 20px;
    text-align: center;
    max-width: 300px;
}
form {
    margin: 0;
}
label {
    display: block;
    margin-bottom: 10px;
}
input {
    width: 100%;
    padding: 5px;
    margin-top: 5px;
}
button {
    background-color: #007bff;
    color: #fff;
    margin-left: 5px;
    margin-right: 5px;
}
h3{
    font-size: 30px;
    
}
.a_registruj_se {
    margin-right: 10px;
}
.error_message{
    font-weight: bold;
    color: brown;
}